extends ./layout/index

block contenido
  main.container.mt-5 
      .row 
        .col-md-5 
          img(src=`/img/${reloj.imagen}.webp`, alt="imagen reloj" class="img-fluid")

        .col-md-7
          h1 #{reloj.nombre}

          p 
            svg.icon.icon-tabler.icon-tabler-coin(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
              path(d='M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1')
              path(d='M12 7v10')


            | #{reloj.precio}

          p
            svg.icon.icon-tabler.icon-tabler-package(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5')
              path(d='M12 12l8 -4.5')
              path(d='M12 12l0 9')
              path(d='M12 12l-8 -4.5')
              path(d='M16 5.25l-8 4.5')


            | #{reloj.cantidad} Disponibles

          p  #{reloj.descripcion}

          if(errores)
            each error in errores 
              .alert.col.alert-danger.text-center= error.mensaje 

          form(action=`/reloj/${reloj.slug}` method="POST")

            .form-group 
              input#nombre(type="hidden" name="reloj" class="form-control",value=`${reloj.nombre}`)
            .form-group 
              input#nombre(type="hidden" name="precio" class="form-control",value=`${reloj.precio}`)
            .form-group 
              input#nombre(type="hidden" name="cantidad" class="form-control",value=`${reloj.cantidad}`)
            .form-group 
              input#nombre(type="hidden" name="slug" class="form-control",value=`${reloj.slug}`)
            .form-group 
              label(for="nombre") Escriba Su Nombre 
              input#nombre(type="text" placeholder="Tu Nombre" name="nombre" class="form-control",value=nombre)
            .form-group 
              label(for="cantidad") Cantidad

              select#cantidad(name='quantity' autocomplete='off' tabindex='0')
                - const numero = reloj.cantidad
                  if numero < 30
                    each n in Array.from({ length: numero }, (_, index) => index + 1)
                      option(value=`${n}` selected='') #{n}
            
      
              input#submit.btn.btn-success.btn-block(type="submit" name="enviar" value="comprar ahora")
          















